doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/dist/css/bwd.css")
        script(src="/dist/js/1.js" defer) 
        title Home | 
    body
        form(action='search' method="GET").search 
            input(type="text", name="q" placeholder="Search Anything")
            input(type="submit", value="Search").button
        nav#navbar.navbar.shadow-on-scroll
                h1.navbar-brand Aryan
                .navbar-toggler(data-toggle='nav')
                    .line
                    .line
                    .line
                #nav.collapse
                    ul.navbar-nav
                        li
                            a(href='#') Home
                        li
                            a.btn.modal-toggler(data-toggle='appointment') Buy
        .container 
            h1 Browse #{type} Movies
            span.crump Home / Movies / #{type}
            .grid 
                each movie in movies
                    div(data-redirect=movie._id).link.card
                        img(src="/dist/img/"+movie.thumbnail)
                        .card-content 
                            h3.mitle=movie.title 
                            p.mext=movie.description
                    
                
                
    script(type='module' src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js')
    script(nomodule='' src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js')

