doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/dist/css/search.css")
        title Searching Movies
    body 
        form(action='search' method="GET").search 
                input(type="text", name="q" placeholder="Search Anything")
                input(type="submit", value="Search").button
        nav#navbar.navbar.shadow-on-scroll
                h1.navbar-brand Aryan
                .navbar-toggler(data-toggle='nav')
                    .line
                    .line
                    .line
                #nav.collapse
                    ul.navbar-nav
                        li
                            a(href='/') Home
                        li
                            a.btn.modal-toggler(data-toggle='appointment') Buy
        .content 
            h2 Movies
            div.grid
                each movie in movies 
                    div(data-redirect=movie._id).link.card
                        img(src="/dist/img/"+movie.thumbnail)
                        .card-content 
                            h3.mitle=movie.title 
                            p.mext=movie.description
            hr
            h2 Web Series
            div.grid
                each serie in series
                    div(data-redirect=serie._id).link.card
                        img(src="/dist/img/"+serie.thumbnail)
                        .card-content 
                            h3.mitle=serie.title 
                            p.mext=serie.description
        script(src="/dist/js/1.js" ) 